/* Page */
body {
  background-color: rgb(242, 238, 203);
  min-width: 820px;
}
/* Flex */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.gap-1 {
  gap: 2.5rem;
}
.gap-2 {
	gap: 0.5rem;
}
/* Index Image Navigation */
.recipe-img {
  width: 200px;
  height: 200px;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to bottom,#7d5d3b 5%, #634b30 100%);
}
	.recipe-img:hover{
  position:relative;
	top:2px;
	}
	.recipe-img:active {
	position:relative;
	top:4px;
	}
.menu-tab {
  width: 800px;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border:1px solid #54381e;
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
  font-weight: 600;
  text-align: center;
	padding:6px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
  margin: 15px auto;
}
/* Navigation Buttons*/
.button {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:20px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
	.button:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
	}
	.button:active {
	position:relative;
	top:1px;
	}
/* Image on repecie page*/
.img-border {
	width: 200px;
	height: 200px;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 10px;
	border-image-source: linear-gradient(to bottom,#7d5d3b 5%, #634b30 100%);
	margin: 10px;
  }
/* Lists */
.ingredients {
	padding-left: 1rem;
}
.instructions {
	padding-left: 0rem;
	list-style-type: none;
}
.text-center{
	text-align: center;
}