body {
  background-color: rgb(242, 238, 203);
}

p,
h1,
h2 {
  text-align: center;
}

div.dcul {
  text-align: center;
}

ul.ucul {
  display: inline-block;
  text-align: left;
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}


.toptittle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topimg {
  display: block;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 15px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 1rem 0;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow:0px 1px 0px #4d3534;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color:#7d5d3b;
  color: white;
  
}

.btn:hover {
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color:#634b30;
}

.btn--block {
  width: 80%;
  display: inline-block;
  text-align: center;
  position: relative;
  left:26px;
}

.btn--footer {
  width: 15%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.container {
  height: 210px;
  width: 320px;
  position: relative;
  border: 0px solid #7d5d3b;
}
